@model DFC.App.MatchSkills.Models.CareerMatch

<div class="app-long-results__item">
    <div class="result-description">
        <h3 class="govuk-heading-m"><a href="gap-analysis3.html">@Model.JobProfile.Title</a></h3>
        <p>@Model.JobProfile.Description</p>
    </div>
    <div class="ncs-progress govuk-clearfix">
        <span class="ncs-progress__count "><b class="govuk-!-font-size-28">@Model.MatchStrengthPercentage%</b> <span class-="govuk-!-font-size-18"><b class="visually-hidden govuk-!-font-size-18 small">Skills match</b></span></span>
        <div class="ncs-progress__bar"><span style="width: 85%"></span></div>
    </div>
    <partial name="_JobSectorGrowth"/>
    <details class="govuk-details float-reset" data-module="govuk-details">
        <summary class="govuk-details__summary govuk-!-font-size-14">
            <span class="govuk-details__summary-text ">
                More about this match
            </span>
        </summary>
        <div class="govuk-details__text ">
            <div class="govuk-grid-column-one-half">
                <p><strong>Your matching skills:</strong></p>
                <ul class="govuk-list govuk-list--bullet skills-list">
                    @foreach (var skill in Model.MatchedSkills)
                    {
                        <li class="no-border">
                            @skill.Name
                        </li>
                    }
                </ul>
            </div>
            <div class="govuk-grid-column-one-half">
                <p><strong>Skills you'll need to gain:</strong></p>
                <ul class="govuk-list govuk-list--bullet skills-list">
                    @foreach (var skill in Model.UnMatchedSkills)
                    {
                        <li class="no-border">
                            @skill.Name
                        </li>
                    }
                </ul>
            </div>
        </div>
    </details>
</div>
