@using DFC.App.MatchSkills.ViewModels
@model DFC.App.MatchSkills.Models.CareerMatch

<div class="result-description">
    <h3 class="govuk-heading-m"><a href="@Model.GetDetailsUrl(Model.JobProfile.Url)">@Model.JobProfile.Title</a></h3>
    <p>@Model.JobProfile.Description</p>
</div>
<div class="ncs-progress govuk-clearfix">
    <span class="ncs-progress__count ">
        <strong class="govuk-!-font-size-28">@Model.MatchStrengthPercentage%</strong><br/>
        <strong class="small">Skills&nbsp;match</strong>
    </span>
    <div class="ncs-progress__bar"><span style="width: @Model.MatchStrengthPercentage%"></span></div>
</div>
