@using DFC.App.MatchSkills.ViewComponents.OccupationSearchScript
@using DFC.App.MatchSkills.ViewModels
@model DFC.App.MatchSkills.ViewModels.MoreJobsViewModel

@{

    var searchService = Model.SearchService;
    var autoCompleteElementName = Model.GetElementId("govukAutoComplete", Model.AutoCompleteElementName);
    var formElementName = Model.GetElementId("form", Model.FormElementName);
    var autoCompleteError = Model.GetElementId("govukAutoCompleteError", "SearchError");
    var searchButton = Model.GetElementId("govukSecondaryButton", "Search");
    var formGroup = Model.GetElementId("formGroup", "AutoComplete");

}

<govukErrorSummary hidden="@(!Model.HasError)">
    <govukErrorSummaryItem href="#@autoCompleteElementName" text="Enter a job title"></govukErrorSummaryItem>
</govukErrorSummary>


<div class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form id="@formElementName" action="@CompositeViewModel.PageId.OccupationSearch/GetSkillsForOccupation" method="post">
                <div id="@formGroup" class="govuk-form-group   @(Model.HasError ? "govuk-form-group--error" : "")">
                    <govukHeadingH1 Text="Enter your job title" />

                    <p>This can be your current job or one that you’ve done before. You can match the skills you used in this job to other careers.</p>

                    <p>You can add skills from more than one job to your skills list.</p>


                    <govukAutoComplete Id="@autoCompleteElementName"
                                       Element="occupations-autocomplete-container" Source="Suggest" FunctionName="AutoComplete"
                                       autoselect="false" confirmOnBlur="true" cssNameSpace="autocomplete" show-no-options-found="false"
                                       minLength="2" name="EnterJobInputAutocomplete">
                        <govukAutoCompleteError id="@autoCompleteError" text="Enter a job title" hidden="@(!Model.HasError)"></govukAutoCompleteError>
                        <govukAutocompleteLabel Text="Enter your current or previous job title" additional-class="govuk-!-font-size-19 govuk-!-font-weight-bold" For="@autoCompleteElementName"></govukAutocompleteLabel>


                    </govukAutoComplete>
                </div>
                <br />
                <br />
                <govukSecondaryButton id="@searchButton" text="Search"></govukSecondaryButton>
            </form>
        </div>
        <div class="govuk-grid-column-one-third">
            <govukHeadingH3 text="Occupations you've recently added"></govukHeadingH3>
            <govukBulletedList>
                @foreach (var occupation in Model.Occupations)
                {
                    <govukListItem text="@occupation.Name"></govukListItem>
                }
            </govukBulletedList>
        </div>
    </div>
</div>
@{
    var scriptModel = new OccupationSearchScriptModel()
    {
        SearchService = Model.SearchService,
        AutoCompleteElementName = autoCompleteElementName,
        FormElementName = formGroup,
        AutoCompleteError = autoCompleteError,
        SearchButton = searchButton
    };
}
<partial name="~/ViewComponents/OccupationSearchScript/Default.cshtml" model="@scriptModel" />
