@model DFC.App.MatchSkills.ViewModels.SelectSkillsCompositeViewModel
@{
    ViewData["Title"] = @Model.PageHeading;
}

    <div class="govuk-main-wrapper" >

        <div class="govuk-width-container margin-reset">

            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
                    </span>
                </p>
            </div>

        </div>
        <div class="govuk-width-container">
            <a class="govuk-back-link" href="autocomplete.html">Back</a>
            <div class="govuk-grid-row margin-reset">
                <div class="govuk-grid-column-two-thirds">

                    <br>
                    <div class="results">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    <h1 class="govuk-fieldset__heading--l govuk-!-margin-top-4">
                                        @Model.PageHeading
                                    </h1>
                                </legend>
                                <p>
                                    These are some of the skills you may have used in the role of <strong>@Model.Occupation</strong>.
                                </p>
                                <p>
                                    From the list below, select the skills that you would like to match to careers.
                                </p>
                                <p>
                                    If you have a skill that you do not want to use for career matching, do not add it to your skills list.
                                </p>
                                
                                <div class="govuk-checkboxes govuk-checkboxes--small skill-list-container checkbox-container">
                                    @if (Model.Skills.Count == 0)
                                    {
                                        <govukLabel id="LblNoResults" Text="No required skills found"></govukLabel>
                                    }
                                    @foreach (var skill in Model.Skills)
                                    {
                                        <govukCheckbox id="@Model.Id" label="@skill.Name" value="@skill.Id" AdditionalClass="checkbox-container-item"></govukCheckbox>

                                    }
                                    
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    
                    <a class="govuk-button trigger-button" href="your-skills.html">Add to skills list</a>

                </div>

            </div>
        </div>




    </div>

